<form action="/login" method="post">

    Email: <input type="email" name="email" placeholder="Email" required>
    Password: <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>